<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문하기</title>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR:wght@100&display=swap"
        rel="stylesheet">

    <script type="text/javascript">

        $(document).ready(function () {
            $('#orders-box').html(''); //비워주기
            listing();
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    let rate = response[1]['rate']

                    temp_html = `<p>달러-원 환율 : ${rate}</p>`
                    $('#rate').append(temp_html)
                }
            })
        });

        function make_order(){

            let name = $('#name').val();
            let num = $('#number').val();
            let address = $('#address').val();
            let phonenum = $('#phonenum').val();

            if (name == '') {
                alert('이름을 입력해주세요');
                $('#name').focus();
                return
            } else if (num == '') {
                alert('수량을 입력해주세요');
                $('#number').focus();
                return
            } else if (address == '') {
                alert('주소를 입력해주세요');                
                $('#address').focus();
                return
            } else if (phonenum == '') {
                alert('휴대폰번호를 입력해주세요')
                $('#phonenum').focus();
                return
            }

            $.ajax({
                type: 'POST', // 타입을 작성합니다.
                url: '/orders', // url을 작성합니다.
                data: { name_give: name, num_give: num, address_give: address, phonenum_give: phonenum }, // data를 작성합니다. },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            });

        }

        function listing() {
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let orders = response['orders'];
                        console.log(orders);
                        for (let i = 0; i < orders.length; i++) {
                            make_card(orders[i]['name'], orders[i]['num'], orders[i]['address'], orders[i]['phonenum']);
                        }} else {
                            alert('실패');
                        }
                }
            });
        }

        function make_card(name, num, address, phonenum) {
            let temp_html = `
                <tr>
                    <th scope="row">${name}</th>
                    <td>${num}</td>
                    <td>${address}</td>
                    <td>${phonenum}</td>
                </tr>`;
            $('#orders-box').append(temp_html);
        }

    </script>



    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: 20px auto;
            border: 1px solid lightgray;
            padding: 30px;
        }

        .btn-primary {
            width: 100%;
        }

        .img {
            width: 990px;
            background-size: cover;
        }

        .title {
            font-size: 30px;
            font-family: 'Gugi', cursive;
        }

        .price {
            font-size: small;
            margin-left: 25px;
        }

        .desc {
            color: #6c757d
        }
    </style>

</head>

<body>
    <div class="wrap">
        <div class="info">
            <p class="img"><img src="https://www.kbmaeil.com/news/photo/201304/285012_725161_428.jpg" alt=""></p>

            <p class="title">토끼간빵<span class="price">가격:1,000,000원 / 개</span></p>
            <p class="desc">이 상품으로 말할 것 같으면 용왕이 찾지 못한 토끼의 간을 찾아 빨간망토의 늑대와 아기 돼지 삼형제의 숨결이 고루 녹아 있는 먹으면 120세까지 살 수 있다는
                이 상품으로 말할 것 같으면 용왕이
                찾지 못한 토끼의 간을 찾아 빨간망토의 늑대와 아기 돼지..</p>
            <div id="rate"></div>
        </div>
        <div class="">
            <p class="title">주문하기</p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="name">주문자 성함</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="name"
                    id="name">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="number">수량</label>
                </div>
                <select class="custom-select" id="number" placeholder="">
                    <option selected></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="address">주소</span>
                </div>
                <input type="text" class="form-control" placeholder="Address" aria-label="Username"
                    aria-describedby="basic-addon1" id="address">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="phonenum">전화번호</span>
                </div>
                <input type="text" class="form-control" placeholder="Phone number" aria-label="Username"
                    aria-describedby="basic-addon1" id="phonenum">
            </div>

            <button onclick="make_order()" type="submit" class="btn btn-primary">주문하기</button>
        </div>

        <table class="table table-hover table-striped" style="margin-top:100px">
            <thead>
                <tr>
                    <th scope="col" class="table-light">이름</th>
                    <th scope="col" class="table-light">수량</th>
                    <th scope="col" class="table-light">주소</th>
                    <th scope="col" class="table-light">전화번호</th>
                </tr>
            </thead>
            <tbody id="orders-box">
            </tbody>
        </table>
    </div>
</body>

</html>